$surface-1: #1d2021;
$surface-2: #282828;
$surface-3: #32302f;

$foreground: #ebdbb2;

$accent-1: #fb4934;
$accent-2: #d65d0e;
$accent-3: #b8bb26;
$accent-4: #689d6a;
$accent-5: #83a598;
$accent-6: #458588;
$accent-7: #b16286;
$accent-8: #d3869b;

$primary-accent: $accent-5;
$secondary-accent: $accent-4;

$foreground-color: $foreground;

$highlight: $accent-4;

// TODO: is there a better way to do this? this is for example used in gnome-calculator for the result top-border
@define-color borders #{"" +$surface-1};
